openapi: 3.0.0
info:
  description: An API to generate charts and QR codes using QuickChart services.
  title: QuickChart API
  version: 1.0.0
  x-apisguru-categories:
  - developer_tools
  x-logo:
    url: https://quickchart.io/android-chrome-512x512.png
  x-origin:
  - format: openapi
    url: https://quickchart.io/openapi.yaml
    version: "3.0"
  x-providerName: quickchart.io
servers:
- url: https://quickchart.io
paths:
  /chart:
    get:
      description: Generate a chart based on the provided parameters.
      parameters:
      - description: The chart configuration in Chart.js format (JSON or Javascript).
        explode: true
        in: query
        name: chart
        required: false
        schema:
          type: string
        style: form
      - description: The width of the chart in pixels.
        explode: true
        in: query
        name: width
        required: false
        schema:
          type: integer
        style: form
      - description: The height of the chart in pixels.
        explode: true
        in: query
        name: height
        required: false
        schema:
          type: integer
        style: form
      - description: "The output format of the chart, 'png', 'jpg', 'svg', or 'webp'."
        explode: true
        in: query
        name: format
        required: false
        schema:
          type: string
        style: form
      - description: The background color of the chart.
        explode: true
        in: query
        name: backgroundColor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            image/jpeg:
              schema:
                format: binary
                type: string
            image/png:
              schema:
                format: binary
                type: string
            image/svg+xml:
              schema:
                format: binary
                type: string
            image/webp:
              schema:
                format: binary
                type: string
          description: A generated chart image.
      summary: Generate a chart (GET)
      x-accepts:
      - image/jpeg
      - image/png
      - image/svg+xml
      - image/webp
    post:
      description: Generate a chart based on the provided configuration in the request
        body.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_chart_post_request"
        required: true
      responses:
        "200":
          content:
            image/jpeg:
              schema:
                format: binary
                type: string
            image/png:
              schema:
                format: binary
                type: string
            image/svg+xml:
              schema:
                format: binary
                type: string
            image/webp:
              schema:
                format: binary
                type: string
          description: A generated chart image.
      summary: Generate a chart (POST)
      x-content-type: application/json
      x-accepts:
      - image/jpeg
      - image/png
      - image/svg+xml
      - image/webp
  /qr:
    get:
      description: Generate a QR code based on the provided parameters.
      parameters:
      - description: The text to be encoded in the QR code.
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: The width of the QR code in pixels.
        explode: true
        in: query
        name: width
        required: false
        schema:
          type: integer
        style: form
      - description: The height of the QR code in pixels.
        explode: true
        in: query
        name: height
        required: false
        schema:
          type: integer
        style: form
      - description: "The output format of the QR code, e.g., 'png' or 'svg'."
        explode: true
        in: query
        name: format
        required: false
        schema:
          type: string
        style: form
      - description: The margin around the QR code in pixels.
        explode: true
        in: query
        name: margin
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
            image/svg+xml:
              schema:
                format: binary
                type: string
          description: A generated QR code image.
      summary: Generate a QR code (GET)
      x-accepts:
      - image/png
      - image/svg+xml
    post:
      description: Generate a QR code based on the provided configuration in the request
        body.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_qr_post_request"
        required: true
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
            image/svg+xml:
              schema:
                format: binary
                type: string
          description: A generated QR code image.
      summary: Generate a QR code (POST)
      x-content-type: application/json
      x-accepts:
      - image/png
      - image/svg+xml
components:
  schemas:
    _chart_post_request:
      properties:
        backgroundColor:
          description: The background color of the chart.
          type: string
        chart:
          description: The chart configuration in Chart.js format (JSON or Javascript).
          type: object
        format:
          description: "The output format of the chart, 'png', 'jpg', 'svg', or 'webp'."
          type: string
        height:
          description: The height of the chart in pixels.
          type: integer
        width:
          description: The width of the chart in pixels.
          type: integer
      type: object
    _qr_post_request:
      properties:
        format:
          description: "The output format of the QR code, e.g., 'png' or 'svg'."
          type: string
        height:
          description: The height of the QR code in pixels.
          type: integer
        margin:
          description: The margin around the QR code in pixels.
          type: integer
        text:
          description: The text to be encoded in the QR code.
          type: string
        width:
          description: The width of the QR code in pixels.
          type: integer
      type: object

